@use '/src/app/styles/variables.scss';
.Button {
  display: inline-block;
  background-color: variables.$dark;
  border: solid 3px variables.$border-primary;
  box-shadow: 6px 6px variables.$btn-shadow;
  color: #ffffff;
  padding: 20px 36px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  &:hover {
    cursor: pointer;
  }

  &.secondary {
    background-color: transparent;
    color: variables.$text-primary;
  }

  &.small {
    padding: 12px 24px;
    box-shadow: 3px 3px variables.$btn-shadow;
  }
  &.secondary.small {
    box-shadow: none;
  }

  &.inline {
    background-color: transparent;
    color: variables.$text-primary;
    box-shadow: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    padding: 0;
  }
}
