// base colors
$dark: #000000;
// text colors
$text-primary: #000000;
$text-secondary: #CD4631;
$text-light: #FFFFFF;

// bg colors
$bg-light: #FFFFFF;
$bg-primary: #F7EDE8;
$bg-secondary: #EDF3F7;

// borders + shadows
$btn-shadow: rgba($color: #000000, $alpha: 0.25);
$border-primary: #000000;
$border-secondary: #CD4631;


// breakpoints
$desktop-sm: 1160px;

$mobile-lg: 867px;
$mobile-md: 490px;
// $mobile-sm: 867px;