.Navbar {
  background-color: #f7ede8;
  z-index: 100;
  .container {
    display: flex;
    align-items: center;
  }
  .icon {
    margin-right: 120px;
  }
  .menuList {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 120px;
    li:not(:last-child) {
      margin-right: 60px;
    }
  }
  .ctaArea {
    margin-left: auto;
    *:nth-child(2) {
      margin-left: 20px;
    }
  }
}
