@use '/src/app/styles/variables.scss';
.Hero {
  position: relative;
  background-color: variables.$bg-primary;
  padding-bottom: 120px;
  text-align: center;
  h1 {
    font-size: 96px;
    line-height: 100%;
    margin-bottom: 40px;
    span {
      display: block;
      color: variables.$text-secondary;
    }
  }
  p {
    max-width: 766px;
    margin-bottom: 60px;
    span {
      display: block;
    }
  }

  background-image: url('/stars-hero-left.svg'), url('/stars-hero-right.png');
  background-position: bottom 50px left -160px, bottom 50% right 60px;
  background-repeat: no-repeat;
  background-size: 630px 593px, 160px 216px;

    @media only screen and (max-width: variables.$mobile-lg) {
        background-image: none;
        padding-bottom: 80px;
        h1 {
            font-size: 64px;
            margin: 22px;
        }
        p {
            margin-bottom: 40px;
        }
    }
}