.Hero {
  position: relative;
  background-color: #f7ede8;
  padding-bottom: 120px;
  h1 {
    .block {
        display: block;
    }
    .red {
        background-color: #CD4631;
    }
  }

  background-image: 
    url('/stars-hero-left.svg'),
    url('/stars-hero-right.png');
  background-position:
    bottom 0px left -80px,
    bottom 55px right 10px;
  background-repeat: no-repeat;
  background-size: 400px 438px, 160px 216px;
}
